/* Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    }
/*ul, ol {
    list-style: none;
    }*/

/* Common */
html {
    height: 100%;
    }
body {
    height: 100%;
    font: 14px/22px Helvetica, Arial, sans-serif;
    }

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #f6f6ef;
    border-right: 1px solid #edd;
    }

/* Vieport */
.viewport {
    position: relative;
    height: 100%;
    margin: 0 0 0 300px;
    }

/* Options */
.options {
    padding: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .options__title {
        margin: 0 0 .5em;
        }
    .options__form {}

/* Field */
.field {}
.field._switcher {
    margin: 0 0 0 40%;
    }
.field._switcher:after {
    display: table;
    content: '';
    clear: both;
    }

    /* Title */
    .field__title {
        position: relative;
        left: -66%;
        width: 66%;
        float: left;
        margin: 0 -100% 0 0;
        }

    /* Switcher */
    .field__switcher {
        border-radius: 4px;
        margin: 0 0 .5em;
        white-space: nowrap;
        }
        .field__radio {
            display: none;
            }
        .field__radio + .field__label {
            background: #fff;
            border-top: 1px solid #edd;
            border-bottom: 1px solid #edd;
            padding: 0 6px;
            cursor: pointer;
            display: inline-block;
            }
        .field__radio:first-of-type + .field__label {
            border: 1px solid #edd;
            border-right: 0;
            border-radius: 4px 0 0 4px;
            }
        .field__radio:last-of-type + .field__label {
            border: 1px solid #edd;
            border-left: 0;
            border-radius: 0 4px 4px 0;
            }
        .field__radio + .field__label:hover {
            background: #f6f6f6;
            }
        .field__radio:checked + .field__label {
            background: #988;
            color: #fff;
            border-color: #766;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .3);
            }

    /* Button */
    .field__btn {
        position: relative;
        background: #988;
        padding: 0 6px;
        color: #fff;
        border: 1px solid #766;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
        font: 14px/22px Helvetica, Arial, sans-serif;
        cursor: pointer;
        margin: 0 0 0 6px;
        outline: none;
        }
    .field__btn:before {
        content: '+';
        margin-right: 4px;
        font: bold 16px/22px Helvetica, Arial, sans-serif;
        color: #fff;
        }
    .field__btn:hover {
        background: #a99;
        }
    .field__btn:active {
        box-shadow: none;
        bottom: -1px;
        }

    /* Slides list */
    .options__list {
        margin: 0 0 1em 1.4em;
        }
        .options__listItem {}
            .options__listItemRemove {
                display: inline-block;
                color: #800;
                border-bottom: 1px dotted #f99;
                line-height: 14px;
                cursor: pointer;
                }
            .options__listItemRemove:hover {
                color: #500;
                }

.photor {
    width: 640px !important;
    height: 480px !important;
    margin: auto !important;
    }
