<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple</title>
    <link rel="stylesheet" href="../../dist/photor.min.css">
    <link rel="stylesheet" href="../../node_modules/mocha/mocha.css">

    <script src="../../node_modules/underscore/underscore.js"></script>
    <script src="../../node_modules/mocha/mocha.js"></script>
    <script src="../../node_modules/chai/chai.js"></script>
    <script src="../../node_modules/sinon/pkg/sinon.js"></script>

    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../dist/photor.min.js"></script>
    <script src="../../tests/common.js"></script>
    <script src="../../tests/main.js"></script>

    <% specs.forEach(function(src) { %>
    <script src="../../<%=src%>"></script>
    <% }); %>
</head>
<body>

<div id="mocha"></div>

<%=html%>

</body>
</html>