* {
    margin: 0;
    padding: 0;
    }
html,
body {
    height: 100%;
    }

@-webkit-keyframes photor__preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes photor__preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.photor {
    position: relative;
    width: 100%;
    height: 100%;
    background: #090907;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate3d(0);

    &__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 60px;
        left: 0;
        overflow: hidden;

        &Layer {
            position: relative;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            -webkit-transition-property: left, -webkit-transform;
            transition-property: left, transform;
            transition-timing-function: cubic-bezier(0.1,0,.25,1);

            &Slide {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;

                &Img {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: inherit;
                    visibility: visible;
                    opacity: 1;
                    display: block;
                    transition: all .3s ease;
                    }
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 14px;
                    height: 14px;
                    margin: -9px 0 0 -9px;
                    visibility: hidden;
                    content: '';
                    border-radius: 50%;
                    border: 2px solid #fff;
                    border-top: 2px solid transparent;
                    -webkit-animation: photor__preloader .8s linear infinite;
                    animation: photor__preloader .8s linear infinite;
                    opacity: 0;
                    transition: all .3s ease;
                    }

                &._loading {

                    & .photor__viewportLayerSlideImg {
                        visibility: hidden;
                        opacity: 0;
                        }
                    &:after {
                        visibility: visible;
                        opacity: 1;
                        }

                    }
                &._auto {
                    & .photor__viewportLayerSlideImg {
                        -webkit-background-size: contain;
                        background-size: contain;

                        @media (max-width: 400px) {
                            -webkit-background-size: cover;
                            background-size: cover;
                            }
                        }
                    }
                &._center {
                    background-size: auto;
                    }
                }
            }

        &Control {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;

            &Prev,
            &Next {
                position: absolute;
                top: 0;
                bottom: 0;
                cursor: pointer;

                &._disabled {}
                }
            &Prev {
                right: 70%;
                left: 0;
                }
            &Next {
                right: 0;
                left: 30%;
                }
            }
        }

    &__thumbs {
        position: absolute;
        height: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;

        &Item {
            display: inline-block;
            vertical-align: top;
            height: 60px;

            &Img {
                width: auto;
                height: 100%;
                vertical-align: top;
                }
            }
        }
    }

.photor._dragging {
    .photor__viewportControl {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;

        &Prev,
        &Next {
            cursor: move;
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;
            }
        }
    }