* {
    margin: 0;
    padding: 0;
    }
html,
body {
    height: 100%;
    }

.photor {
    position: relative;
    width: 100%;
    height: 100%;
    background: #090907;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate3d(0);

    &__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 60px;
        left: 0;
        overflow: hidden;

        &Layer {
            position: relative;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            -webkit-transition-property: left, -webkit-transform;
            transition-property: left, transform;
            transition-timing-function: cubic-bezier(0.1,0,.25,1);

            &Slide {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                visibility: visible;
                opacity: 1;
                transition: all .3s cubic-bezier(0.1,0,.25,1);

                &._loading {
                    visibility: hidden;
                    opacity: 0;
                    }
                &._auto {
                    -webkit-background-size: contain;
                    background-size: contain;

                    @media (max-width: 400px) {
                        -webkit-background-size: cover;
                        background-size: cover;
                        }
                    }
                &._center {
                    background-size: auto;
                    }
                }
            }

        &Control {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;
            // background: rgba(255,0,0,0.4);

            &Prev,
            &Next {
                position: absolute;
                top: 0;
                bottom: 0;
                cursor: pointer;
                }
            &Prev {
                right: 70%;
                left: 0;
                }
            &Next {
                right: 0;
                left: 30%;
                }
            }
        }

    &__thumbs {
        position: absolute;
        height: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;

        &Item {
            display: inline-block;
            vertical-align: top;
            height: 60px;

            &Img {
                width: auto;
                height: 100%;
                vertical-align: top;
                }
            }
        }
    }

.photor._dragging {
    .photor__viewportControl {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;

        &Prev,
        &Next {
            cursor: move;
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;
            }
        }
    }